nav{
    margin-left: -90px ;
}
.card{
    margin-top: 20px !important;
    width: 950px !important;
    margin: auto;
}
.btn{
    width: 100px;
    margin: auto;
    
}
.colorEliminar{

    color: red !important;

}
table tr td{
    text-transform: capitalize;

}
img{margin-left: 0px -100px -10px !important;
    width: 80px !important; 
}

body{
    text-emphasis-color:text-info;
}